body {
    font-family: 'Calibri', san-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
    text-align: center;
}

main {
    margin: 1em 0;
    padding-top: 100px;
    width: 75%; 
    font-weight: bold;
    font-size: 2em;
}

p {
    margin: 0;
    margin-bottom: 1em;
}

.logo {
    height: 125px;
    width: auto;
    margin: 30px;
}

.time {
    color: #07aa9e;
    margin: 0;
    font-size: 1.5em;
}